body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

/* Header Stuff Here*/
header{
    background-color: #f0f5ee;
    padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #b22930;
}

header p {
    margin: 0;
    color: #b22930;
    letter-spacing: .5px;
}

/*/ nav stuff goes here /*/

nav{
    background-color: #a4c196;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #f0f5ee;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;

}

nav li.active a {
    background-color: #f9bcbd;
    color: #b22930;
}

nav a:hover {
    color: #b22930;
}

/* stuff for the main */
main{
    padding: 1rem 2vw;
}

main h1{
    color: #f9bcbd;
}

main h2{
    color: #f9bcbd;
    margin-bottom: .2rem;

}

main p{
    color: #2f3133;
    margin: 0 0 .3rem 0;

}

main ol {
    list-style-type: decimal;
    padding: .5rem 3vw;
    background-color: #f0f5ee;
    
}

main dl dt {
    color: #ea5e51;
    font-weight: 700;
}

main dl dd {
    color: #b22930;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}



main address {
    font-style: normal;
    background-color: #a4c196;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #f9bcbd;
    border-radius: .5rem;


}

main a {
    color: #b22930;
}

main a:hover {
    color: rgb(239,0,24);
}

/*/ footer stuff here /*/
footer {
    background-color: #f0f5ee;
    text-align: center;
    color: #b22930;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #b22930;
}